:root {
    --white: white;
    --gold: gold;
    --blue: rgb(88, 88, 255);
    --box: 0px 5px 10px black;
}

body {
    background-color: #cbd5e1;
    padding:0;
    margin:0;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "sidenav header header header header"
    "sidenav main main main topSide"
    "sidenav main main main topSide"
    "sidenav main main main bottomSide"
    "sidenav main main main bottomSide";
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search__profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon, .search-input, .bell-icon {
    height: 25px;
    margin: 0 5px;
}
.search-input {
    border-radius: 15px;
    width: 300px;
    background-color: #cbd5e1;
}

.visitor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visitor ul{
    list-style: none;
    display: flex;
    
}
.visitor ul li {
    margin: 0px 10px;
    padding: 12px 24px;
    background-color: var(--blue);
    border-radius: 20px;
}
.visitor__card {
    display: flex;
    align-items: center;
}
.visitor__menu {
    display: flex;
    margin: 10px;
}
.visitor__menu ul a{
    text-decoration: none;
    color: white;
}
header{
    box-shadow: var(--box);
    grid-area:header;
    display: flex;
    flex-direction: column;
    padding: 5px 20px ;
    background-color: var(--white);
}





.sidenav {
    grid-area:sidenav;
    background-color: var(--blue);
}
.sidenav h2 {
    color: var(--white);
    margin: 10px;
    display:flex;
    align-items: center;
}
.sidenav ul {
    list-style: none;
    color: var(--white);
    padding: 10px 0px;
}

.sidenav li{
    margin: 10px 0 0 20px;
    display:flex
}
li img  {
    height: 20px;
    margin-right: 10px;
}




main {
    grid-area: main;
    padding: 10px;
}
#main__cardHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.card{
    width: auto;
    border-radius: 5px;
    box-shadow: var(--box);
    border-left: 10px solid var(--gold);
    background-color: var(--white);
    font-size: 18px;
    padding: 10px;
}





#topSide {
    grid-area: topSide;
    margin-right: 10px;
}
#sideHeader{
    padding: 10px 0 0 0;

}
.topCard, .bottomCard {
    background-color: var(--white);
    box-shadow: var(--box);
    border-radius: 10px;
    padding:10px;
    font-size: 12px;
}



.button__card {
    display: flex;
    align-items: center;
    margin-top: 10px
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}


